@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(37, 22, 37);
}

.cursor-glow {
    position: fixed;
    border-radius: 50%;
    opacity: 65%;
    width: 5500px;
    height: 5500px;
    background: radial-gradient(circle, rgb(206, 206, 206), rgb(78, 47, 78)); /* Adjust opacity and color */
    mix-blend-mode: overlay; /* Blend mode for the glow effect */
    pointer-events: none; /* Ensures the element doesn't capture mouse events */
    z-index: 9999; /* Make sure it's on top of other elements */
    transition: transform 0.1s ease; /* Smooth transition for movement */
    transform: translate(-50%, -50%); /* Center the element on the cursor */
  }